{% extends "base.html" %}
{% block extra_title %}| Account{% endblock %}

{% block content %}
<div class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Signed in as {{ user.username }}</h1>
        </div>
    </div>
</div>

<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Date</p>
                        <p class="title">{{ today|date:"M. d, Y" }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Daily Budget</p>
                        <p class="title">{{ daily_budget }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Daily Remaining</p>
                        <p class="title">{{ remaining }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Weekly Standing</p>
                        <p class="title {{ standing_class }}">{{ weekly_standing }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <h2 class="card-header-title">Daily</h2>
                    </header>
                    <div class="card-content">
                        {% if daily_trans %}
                        <table class="table is-striped is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>User</th>
                                    <th class="is-hidden-mobile">Budget</th>
                                    <th class="is-hidden-mobile">Description</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            {% for item in daily_trans %}
                            <tr>
                                <td>{{ item.time|date:"P" }}</td>
                                <td>{{ item.user }}</td>
                                <td class="is-hidden-mobile">{{ item.budget.name }}</td>
                                <td class="is-hidden-mobile">{{ item.description }}</td>
                                <td>{{ item.value }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                        <p>
                            <em>No transactions today.</em>
                        </p>
                        {% endif %}
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">See all daily transactions</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <h2 class="card-header-title">Other</h2>
                    </header>
                    <div class="card-content">
                        {% if other_trans %}
                        <table class="table is-striped is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>User</th>
                                    <th class="is-hidden-mobile">Budget</th>
                                    <th class="is-hidden-mobile">Description</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in other_trans %}
                                <tr>
                                    <td>{{ item.time|date:"P" }}</td>
                                    <td>{{ item.user }}</td>
                                    <td class="is-hidden-mobile">{{ item.budget.name }}</td>
                                    <td class="is-hidden-mobile">{{ item.description }}</td>
                                    <td>{{ item.value }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>
                            <em>No transactions today.</em>
                        </p>
                        {% endif %}
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">See all other transactions</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
