{% extends "base.html" %}
{% block extra_title %}| Transactions{% endblock %}

{% block content %}
<div class="section">
    <h1 class="title">Transactions</h1>
    <div class="section banner">
        <div class="container">
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">???</p>
                        <p class="title">---</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">???</p>
                        <p class="title">---</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">???</p>
                        <p class="title">---</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Log Transaction</p>
                        <p class="title"><a href="{% url 'transaction_create' %}"><i class="fas fa-plus fa-sm"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th class="is-hidden-mobile">Description</th>
                <th>Value</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in transactions %}
            <tr>
                <td>{{ item.description }}</td>
                <td class="is-hidden-mobile">{{ item.budget.name }}</td>
                <td>{{ item.value }}</td>
                <td><a href="{% url 'transaction_delete' item.id %}" class="transaction-delete">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
